.container{
  height: auto;
  width: 380px;
  margin: 20px;
  border: 5px solid black;
}

.btn {
  float: right;
  background-color: aqua;
  color: black;
  font-weight: 700;
}

.list{
  font-weight: 500;
} 

